body{
	background-color: #01270E;
        background-image: url(../images/background.jpg);
}
p{
	text-align:center;
}
table{
	text-align: center;
	margin: auto;
	
}
.chk table{
    text-align: center;
    margin: auto;
}
.chk table td{
    	width:20%;
	border-bottom: 1px solid grey;
        vertical-align: middle
}
.chk table th{
      font-weight: normal;
  color: white;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px
}
.yyy{
    text-align: center;
    
    }
.xxx_online{
    width: 150px;
    background-image: url(../images/online.png);
    background-repeat: no-repeat;
    border-bottom: 0px;
    }
.xxx_offline{
    background-image: url(../images/offline.png);
    background-repeat: no-repeat;
    border-bottom: 0px;
    }
th {
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}
td{
	width:20%;
	border-bottom: 1px solid #1D482C;
  	padding: 9px 8px;
	transition: .3s linear;
        vertical-align: middle;
}
input{
    background-color: #77AF8B;
    border: 1px solid #1D482C;
    border-radius: 3px;
}
a:link{
    color: #E49B14;
}
a:visited{
    color: #439C34;
}
a:active{
    color: #00FF00;
}
.container{
        
	width:90%;
	min-height:100%;
	margin: 0 auto;
	position: absolute;
	margin-left:5%;
 
	overflow: auto;
        margin-bottom: 5%;
	}
        .transp{
            background-color:#0E8439;
             opacity:0.5;
             position: absolute;
             width:90%;
	min-height:100%;
        margin-left: 5%;
        border-radius: 10px;
          top:0px;
  left:0px;
z-index:-1
        }
.head{
	background-color:green;
	position:relative;
	float:center;
	margin-top:2%;
	margin-left:5%;
	width:90%;
	height:10%;
	border-radius: 10px; 

}
.menu{
    position: relative;
    margin: 0 auto;
    margin-left: 30%;
    width: 90%;
    height: 40px;
    margin-top: 15px;
    margin-left: 5%;
}
.left_menu{
   position: relative;
    margin: 0 auto;
   float: left;
   left: 50%;
   right: 50%;
   
}
.right_menu{
    position: relative;
    float: left;
    margin: 0 auto;
     left: 50%;
     right: 50%;
}
.menu_but{
    position: relative;
    float: left;
     left: 50%;
     right: 50%;
    margin: 0 auto;
    vertical-align: bottom;
}
.but_txt{
    color: greenyellow;
    margin-top: 10px;
    position: absolute;
    vertical-align: bottom;
    
}
.left{
    position: absolute;
    width: 20%;
    min-height: 50%;
    margin-top: 15px;
    margin-left: 5px;
    background-color: green;
    float: left;
    border-radius: 10px;
}
.center{
    position: absolute;
    width: 75%;
    min-height: 50%;
    margin-top: 15px;
    margin-left: 22%;
    background-color: green;
    float: left;
    border-radius: 10px;
}
.footer{
    position: relative;
    
    bottom: 0;
    left: 7%;
    width: 86%;
    height: 20px;
    background-color: green;
    border-radius: 20px;
    
}
#navigate{
	background-color:#96BBFA;
	position:relative;
	margin-left:5%;
	float:center;
	width: 90%;
	height: 10%;
	border-radius: 10px;
}
.contentLog{
        opacity: 0.9;
        filter: alpha(Opacity=50);
	background-color:#277542;
	position:relative;
        float:center;
	margin-top:2%;
        margin-left:25%;
        width:50%;
        border-radius: 10px;
}
.content{
	background-color:#DCDCDC;
	position:relative;
	float:center;
	opacity: 0.7;
	margin-top:2%;
	margin-left:5%;
	width:90%;
	min-height:70%;
	border-radius: 10px; 
}
.live_image{
    position: relative;
    margin-top: 0px;
}
.live_text{
    position: absolute;
    margin-top: -24px;
    margin-left: 40%;
}